{% extends 'client/base.html' %}
{% block title%}Add Vehicle | VMS {% endblock %}
{% block body%}
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li><a href="javascript:;">Vehicle</a></li>
		<li class="active">Add Vehicle</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Add Vehicle </h1>
	<!-- end page-header -->
	
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-12">
			<!-- begin panel -->
			<div class="panel panel-inverse" data-sortable-id="form-validation-1">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						
					</div>
					<h4 class="panel-title">Add</h4>
				</div>
				{% block alert %}{% endblock %}

				<div class="panel-body panel-form">
					<form action = "{% url 'add_vehicle' %}" class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="message">Vehicle Type :</label>
							<div class="col-md-6 col-sm-6">
								<select class="form-control" name="vehicle_type">
									<option>Select a type</option>
									{% for each in vehicle_types %}
										<option value="{{each.id}}">{{each}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="brand_name">Vehicle Brand Name * :</label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" type="text" id="brand_name" name="brand_name" placeholder="Brand Name" data-parsley-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="brand_model">Vehicle Model * :</label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" type="text" id="brand_model" name="brand_model" data-parsley-type="brand_model" placeholder="Brand Model" data-parsley-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="reg_number">Vehicle Registeration Number * :</label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" type="text" id="reg_number" name="reg_number" data-parsley-type="text" placeholder="Registeration Number" data-parsley-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="year">Year :</label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" type="digits" id="year" name="year" data-parsley-type="digits" placeholder="Make Year" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="seats">Seats :</label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" type="number" id="seats" name="seats" data-parsley-type="number" placeholder=" Seat Number" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="color">Vehicle Color * :</label>
							<div class="col-md-6 col-sm-6">
								<input class="form-control" type="text" id="color" name="color" placeholder="Color" data-parsley-required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4" for="description">Description (20 chars min, 200 max) :</label>
							<div class="col-md-6 col-sm-6">
								<textarea class="form-control" id="description" name="description" rows="4" data-parsley-range="[20,200]" placeholder="Range from 20 - 200"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4"></label>
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
		
	</div>
	<!-- end row -->
{% endblock %}
		