
{% if alert %}

	<div class="panel-body" id="show-alert">
	{% if alert == "success" %}
		<div class="alert alert-success fade in">
	        <button type="button" class="close" data-dismiss="alert">
	            <span aria-hidden="true">&times;</span>
	        </button>
			<strong>Success!</strong>
			{{message}}
		</div>
	{% elif alert == "error" %}
		<div class="alert alert-danger fade show m-b-0">
			<span class="close" data-dismiss="alert">×</span>
			<strong>Error!</strong>
			{{message}}
		</div>
	{% elif alert == "warning" %}
		<div class="alert alert-warning fade show m-b-0">
			<span class="close" data-dismiss="alert">×</span>
			<strong>Warning!</strong>
			{{message}}
		</div>
	{% elif alert == "info" %}
		<div class="alert alert-info fade show m-b-0">
			<span class="close" data-dismiss="alert">×</span>
			<strong>Info!</strong>
			{{message}}
		</div>
	{% endif %}
</div>
{% endif %}
