{% extends 'client/base.html' %}
{% block title%}Dashboard | VMS {% endblock %}
{% block body%}
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Dashboard</h1>
	<!-- end page-header -->
	
	<!-- begin row -->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-3 col-sm-6">
			<div class="widget widget-stats bg-green">
				<div class="stats-icon"><i class="fa fa-desktop"></i></div>
				<div class="stats-info">
					<h4>TOTAL VEHICLES</h4>
					<p>5</p>	
				</div>
				<div class="stats-link">
					<a href="{% url 'vehicles' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3 col-sm-6">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
				<div class="stats-info">
					<h4>LIVE STREAMS</h4>
					<p>2</p>
				</div>
				<div class="stats-link">
					<a href="{% url 'recordings' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3 col-sm-6">
			<div class="widget widget-stats bg-purple">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>STORED RECORDINGS</h4>
					<p>20</p>
				</div>
				<div class="stats-link">
					<a href="{% url 'recordings' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3 col-sm-6">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-clock-o"></i></div>
				<div class="stats-info">
					<h4>USERS</h4>
					<p>1</p>	
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!-- end row -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-md-12">
			<div class="panel panel-inverse" data-sortable-id="index-1">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Locations Map</h4>
				</div>
				<div class="panel-body">
					<div class="map-content">
						<div class="btn-group map-btn pull-right">
							<button type="button" class="btn btn-sm btn-inverse" id="map-theme-text">Default Theme</button>
							<button type="button" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="map-theme-selection">
								<li class="active"><a href="javascript:;" data-map-theme="default">Default</a></li>
								<li><a href="javascript:;" data-map-theme="flat">Flat</a></li>
								<li><a href="javascript:;" data-map-theme="turquoise-water">Turquoise Water</a></li>
								<li><a href="javascript:;" data-map-theme="icy-blue">Icy Blue</a></li>
								<li><a href="javascript:;" data-map-theme="cobalt">Cobalt</a></li>
								<li><a href="javascript:;" data-map-theme="old-dry-mud">Old Dry Mud</a></li>
								<li><a href="javascript:;" data-map-theme="dark-red">Dark Red</a></li>
							</ul>
						</div>
					</div>
					<div class="map">
						<div id="google-map-default" class="height-full width-full"></div>
					</div>
					

    <script>
      var customLabel = {
        Pending: {
          color: 'http://maps.google.com/mapfiles/ms/micons/blue-dot.png'
        },
        Completed: {
          color: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        },
        'In Progress': {
          color: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
        }
      };

        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(-33.863276, 151.207977),
          zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow;

          // Change this depending on the name of your PHP or XML file
          downloadUrl('map.php', function(data) {
            var xml = data.responseXML;
            var markers = xml.documentElement.getElementsByTagName('marker');
            Array.prototype.forEach.call(markers, function(markerElem) {
              var id = markerElem.getAttribute('id');
              var name = markerElem.getAttribute('name');
              var address = markerElem.getAttribute('address');
              var phone = markerElem.getAttribute('phone');
              var type = markerElem.getAttribute('status');
              var comment = markerElem.getAttribute('comment');
              var commentdate = markerElem.getAttribute('commentdate');
              var assignedto = markerElem.getAttribute('assignedto');
              var point = new google.maps.LatLng(
                  parseFloat(markerElem.getAttribute('lat')),
                  parseFloat(markerElem.getAttribute('lng')));

              var infowincontent = document.createElement('div');
              var strong = document.createElement('strong');
              strong.textContent = name + " (" +type+ ")"
              infowincontent.appendChild(strong);
              infowincontent.appendChild(document.createElement('br'));

              var text = document.createElement('text');
              text.textContent = address
              infowincontent.appendChild(text);
              infowincontent.appendChild(document.createElement('br'));
              var phoneno = document.createElement('strong');
              phoneno.textContent = "Phone Number: " +phone+ ""
              infowincontent.appendChild(phoneno);
              infowincontent.appendChild(document.createElement('br'));
              infowincontent.appendChild(document.createElement('br'));
              var comments = document.createElement('text');
              comments.textContent = "Comment: " +comment+ ""
              infowincontent.appendChild(comments);

              infowincontent.appendChild(document.createElement('br'));
              var date = document.createElement('text');
              date.textContent = "Comment Date: "+commentdate
              infowincontent.appendChild(date);
              infowincontent.appendChild(document.createElement('br'));
              var commenturl = document.createElement('a');
              commenturl.href = 'http://localhost/map/map.php?id='+id
              infowincontent.appendChild(commenturl);
              commenturl.textContent = "update comment"
              infowincontent.appendChild(document.createElement('br'));
              infowincontent.appendChild(document.createElement('br'));
              var assigned = document.createElement('text');
              assigned.textContent = "Assigned To: " +assignedto+ ""
              infowincontent.appendChild(assigned);

              var icon = customLabel[type] || {};
              var marker = new google.maps.Marker({
                map: map,
                position: point,
                label: icon.label,
                icon: icon.color

              });
              marker.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, marker);
              });
            });
          });
          var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    
        }



      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing() {}
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    
				</div>
			</div>
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end row -->
{% endblock %}
		