{% extends 'client/base.html' %}
{% block title%}Live Stream | VMS {% endblock %}
{% block body%}
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Live</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Live Stream</h1>
    <!-- end page-header -->
	
	
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-md-12">
			<div class="panel panel-inverse" data-sortable-id="index-1">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Live</h4>
				</div>
				<div class="panel-body">
					<video width="100%" controls>
					  <source src="http://localhost:9000/ashfyre.ogg" type="video/webm">
					  Your browser does not support the video tag.
					</video>
    
				</div>
			</div>
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end row -->
    
    
{% endblock %}