{% extends 'client/base.html' %}
{% block title%}Vehicle Locations | VMS {% endblock %}
{% block body%}
	
	<div class="map-content">
		<<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li><a href="javascript:;">Map</a></li>
		<li class="active">Google Map</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header" align="center">Vehicle Location Map </h1>
	<!-- end page-header -->
	
	</div>
	<div class="map">
		<div id="google-map-default" class="height-full width-full"></div>
	</div>
{% endblock %}
		