{% extends 'client/base.html' %}
{% block title%}Vehicles | VMS {% endblock %}
{% block body%}
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Vehicles</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Vehicles</h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        
        <!-- begin col-10 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        
                    </div>
                    <h4 class="panel-title">Vehicle Information</h4>
                </div>
                <div class="panel-body">

                    {% include 'client/alerts.html' %}

                    <div class="table-responsive">
                        <table id="data-table-buttons" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Vehicle Type</th>
                                    <th>Registeration Number</th>
                                    <th>Vehicle Brand</th>
                                    <th>Brand Model</th>
                                    <th width="15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in vehicles %}
                                <tr class="odd gradeX">
                                    <td>{{each.vehicle_type_id}}</td>
                                    <td>{{each.reg_number}}</td>
                                    <td>{{each.brand_name}}</td>
                                    <td>{{each.brand_model}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-icon btn-circle btn-sm">
                                          <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-info btn-icon btn-circle btn-sm">
                                          <i class="fa fa-align-justify"></i>
                                        </a>
                                        <a href="{% url 'live_stream' each.id %}" class="btn btn-success btn-icon btn-circle btn-sm">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="{% url 'vehicle_location' each.id %}" class="btn btn-warning btn-icon btn-circle btn-sm">
                                          <i class="fa fa-map-marker"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-icon btn-circle btn-sm">
                                          <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
{% endblock %}